.wrapper {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.menu{
    display: none;
    position: absolute;
    height: 400px;
    bottom: 0;
    border: 1px solid black;
}
.menu ul{
    width: 150px;
    background: #FFFFFF;
}
.menu ul li{
    padding: 4px; 
    height:30px;
    width: 140px;
    list-style: none;
}
li:hover{
    background-color: #C0C0C0 ;
}
.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height:59px;  
    background:#0066FF;
}