body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.menu{
    display: none;
    position: absolute;
    background:#3D3C3A;
    height: 400px;
    bottom: 0;
    border: 1px solid black;
}
.menu ul li{
    cursor: pointer;
    color: white;
    padding: 4px; 
    height:30px;
    width: 140px;
    list-style: none;
}
li:hover{
    background-color: #FF8040;
}
#show_dialog{
    display: none;
}
.form{
    height: 60px;
    width: 750px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-top: 15px;
    border: 1px solid #dddddd;
}
#create_dialog{
    display: none;
}
.form .img{
    padding-left: 15px;
    display: none;
}
.form .back{
    padding-left: 15px;
    display: none;
}
#show_files{
    min-height: 50px;
    width:760px;
    padding: 5px;
}
#show_files .show_image{
    cursor: pointer;
    margin: 10px; 
    height : 80px;
    width: 126px;
    padding: 3px;
    float: left;  
}
.no_record{
    margin: 30px;
    text-align: center;
}
.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height:50px;  
    background:#0033FF;
}
.footer img{
    cursor: pointer;
}